* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fdfaf0;
}

/* section 1 */
#s1 img {
    height: 25vh;
}

#s1 img:hover {
    opacity: 0.5;
}

#s1 nav {
    position: fixed;
    right: 0;
    padding: 20px;
    margin: 60px;
    background-color: #fdca00;
    z-index: 3;
}

#s1 nav a {
    font-size: 22px;
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 30px;
    margin-left: 30px;
}

#s1 nav a:hover {
    color: #ff94be;
}

#s1 h1 {
    text-align: center;
    font-size: 40px;
    margin-top: -4%;
}

/* section 2 */
#s2 {
    position: absolute;
    top: 27%;
    width: 80%;
    left: 10%;
    text-align: center;
}

#slide {
    height: 64vh;
    background-image: url(../pictutes/blue/IMG_4926.JPG);
    background-position: center; 
    background-size: cover;
    z-index: -1;
    animation: slide 20s 4s infinite;
}

/* section 3 */
#s3 {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
}

#s3 img {
    height: 60vh;
    padding: 90px;
}

